PORT=
# 8000

MONGO_CONNECTION_STRING=
#mongodb://localhost:27017/dewages-network-db

JWT_SECRET=
# poiuytrewqhgfasdfghjklzxcvbnm

NODE_ENV=

FRONTEND_DOMAIN=
# http://localhost:5173

PROGRAM_ID=
# 3detc4UfYvz14NqdUdM6698ziVNMEEaSHHVhZiGKM4NJ

RPC_URL=
# http://127.0.0.1:8899
